<ul class="header-list">
  <li class="<%= path === '/' ? 'active' : '' %>">
    <a href="/">Home</a>
  </li>
  <li class="<%= path === 'login' ? 'active' : '' %>">
    <a href="/login">Login</a>
  </li>
  <li class="<%= path === 'signup' ? 'active' : '' %>">
    <a href="/signup">Signup</a>
  </li>
</ul>