<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Signup</title>
  <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
  <%- include('./partials/header') %>

  <div class="container">
    <% if (errorMsg.length > 0) { %>
      <div class="error-msg">
        <div class="flash-messages">
          <div class="flash-message">
            <%= errorMsg %>
          </div>
        </div>
      </div>
    <% } %>

    <form class="signup-form" method="post" action="/user/create">
      <div class="form-control">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" />
      </div>
  
      <div class="form-control">
        <label for="email">Email</label>
        <input id="email" type="email" name="email" />
      </div>
      
      <div class="form-control">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
      </div>
  
      <button>Submit</button>
    </form>
  </div>
</body>
</html>